DB_URI=CHANGE_ME
PORT=CHANGE_ME
NODE_ENV=CHANGE_ME
JWT_SECRET=CHANGE_ME
JWT_EXPIRES_IN=CHANGE_ME
FRONTEND_URL=CHANGE_ME
ENCRYPTION_MASTER_KEY=CHANGE_ME
GOCARDLESS_SECRET_ID=CHANGE_ME
GOCARDLESS_SECRET_KEY=CHANGE_ME
GOCARDLESS_API_URL=CHANGE_ME
ANTHROPIC_API_KEY=CHANGE_ME
CHATBOT_URL=CHANGE_ME
GROQ_API_KEY=CHANGE_ME

